* {
    font-size: 12px;
}

.container-fluid {
    margin-bottom: 30px;
    /* width: 100%; */
    margin-left: -25px;
    margin-right: -25px;
}

.btn.btn-success {
    background-color:#28bba2;
    border: none;
    border-radius: 0px;
    margin: -7px 0px;
    float: right;
    /* max-height: 10px;; */
}

.show-entries {
    font-weight: bold;
}

.col-sm-3, .col-sm-2 {
    padding: 0; 
}

#checkbox, select {
    cursor: pointer;
}
