<div class="container-fluid">
  <hr>
  <div class="row">
    <div class="col-sm-7">
      <span>Showing {{'1'}} to {{'10'}} of {{'121'}} entries</span> 
    </div>

    <div class="col-sm-5">
        <nav aria-label="Page navigation">
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">Previous</span>
                </a>
              </li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">Next</span>
                </a>
              </li>
            </ul>
          </nav>
    </div>
  </div>

  <!-- <div class="has-text-centered">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div> -->

</div>
