<div class="container-fluid">

  <table class="table table-hover">
    <colgroup>
      <col style="width:8%">
      <col style="width:8%">
      <col style="width:15%">
      <col style="width:30%">
      <col style="width:10%">
      <col style="width:14%">
      <col style="width:5%">
      <col style="width:5%">
      <col style="width:5%">
    </colgroup>
    <thead>
      <tr>
        <th>Quote Type</th>
        <th>Quote #</th>
        <th>Contact</th>
        <th>Task</th>
        <th>Due Date</th>
        <th>Task Type</th>
        <th> </th>
        <th> </th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let quoterow of quoteinfo, let i = index">
        <td>{{quoterow.quotetype}}</td>
        <td>{{quoterow.quotenumber}}</td>
        <td>{{quoterow.contact}}</td>
        <td>{{quoterow.task}}</td>
        <td>{{quoterow.duedate}}</td>
        <td>{{quoterow.tasktype}}</td>
        <td><span class="glyphicon glyphicon-eye-open"></span></td>
        <td><span class="glyphicon glyphicon-edit" data-toggle="modal" 
          data-target="#myModal" (click)="getQuote(i)" style="cursor:pointer"></span></td>
        <td><span class="glyphicon glyphicon-cloud"></span></td>
      </tr>
      <!-- <tr>
        <td>DYR</td>
        <td>145</td>
        <td>Some contact</td>
        <td>DYR Quote ID 145, Due Date Dec 23 2015 10:28 AM, 
          Customer - Semmitworks Technologies Inc, Contact - Anand D</td>
        <td>12/23/2015 10:28</td>
        <td>Follow-up</td>
        <td><span class="glyphicon glyphicon-eye-open"></span></td>
        <td><span class="glyphicon glyphicon-edit"></span></td>
        <td><span class="glyphicon glyphicon-cloud"></span></td>
      </tr> -->
    </tbody>
  </table>

    <div class="modal fade" id="myModal" role="dialog" tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <!-- <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div> -->

          <div class="modal-body">
            <!-- <p>This is a large modal.</p> -->
            <div class="container-fluid">
              <ol class="breadcrumb">
                <li style="color: white; font-weight: bold">Task Details</li>
              </ol>

              <div *ngIf="quoterow">
                <form class="form-horizontal" (ngSubmit)="onSubmit(f)" #f="ngForm">
                    <div class="form-group">
                      <label for="status" class="col-sm-2 control-label">Status</label>
                      <div class="col-sm-4">
                          <select class="form-control" id="status">
                              <option>Open</option>
                              <option>Closed</option>
                          </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="quotetype" class="col-sm-2 control-label">Quote Type</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control" id="quotetype" [ngModel]="quoterow.quotetype" name="quotetype" required>
                      </div>
                      <label for="quotenumber" class="col-sm-2 control-label">Quote Num</label>
                      <div class="col-sm-2">
                        <input type="text" class="form-control" id="quotenumber"  
                        [(ngModel)]="quoterow.quotenumber" name="quotenumber" required>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="tasktype" class="col-sm-2 control-label">Task Type</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control" id="tasktype"
                        [(ngModel)]="quoterow.tasktype" name="tasktype" required>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="contact" class="col-sm-2 control-label">Contact Name</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control" id="contact" 
                        [(ngModel)]="quoterow.contact" name="contact" required>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="quote" class="col-sm-2 control-label">Quote</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control" id="quote" placeholder="Quote" ngModel name="quote">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="duedate" class="col-sm-2 control-label">Due Date</label>

                      <div class="col-md-4">
                        <input type="text" placeholder="Due Date" class="form-control" 
                        [(ngModel)]="quoterow.duedate" name="duedate" bsDatepicker 
                        [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY, h:mm:ss a' }" required>
                      </div>
                      <div class="col-sm-2 time"><timepicker></timepicker></div>

                    </div>

                    <div class="form-group">
                      <label for="task" class="col-sm-2 control-label">Task Description</label>
                      <div class="col-sm-9">
                        <textarea rows="5" type="text" class="form-control" id="task"
                        [(ngModel)]="quoterow.task" name="task"></textarea>
                      </div>
                    </div>

                    <!-- <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Sign in</button>
                      </div>
                    </div> -->

                    <div class="row buttons">
                      <button class="btn btn-success" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                      <button class="btn btn-success" type='submit'><span class="glyphicon glyphicon-refresh"></span> Update</button>
                    </div>
                  </form> 
                </div>
              </div>

              
            </div>

            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div> -->

          </div>
        </div>
      </div>

</div>

