<div class="container-fluid">

  <table class="table table-hover">
    <colgroup>
      <col style="width:8%">
      <col style="width:8%">
      <col style="width:15%">
      <col style="width:30%">
      <col style="width:10%">
      <col style="width:14%">
      <col style="width:5%">
      <col style="width:5%">
      <col style="width:5%">
    </colgroup>
    <thead>
      <tr>
        <th>Quote Type</th>
        <th>Quote #</th>
        <th>Contact</th>
        <th>Task</th>
        <th>Due Date</th>
        <th>Task Type</th>
        <th> </th>
        <th> </th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let quote of quoteinfo, let i = index">
        <td>{{quote.quotetype}}</td>
        <td>{{quote.quotenumber}}</td>
        <td>{{quote.contact}}</td>
        <td>{{quote.task}}</td>
        <td>{{quote.duedate}}</td>
        <td>{{quote.tasktype}}</td>
        <td><span class="glyphicon glyphicon-eye-open"></span></td>
        <td><span class="glyphicon glyphicon-edit"  data-toggle="modal" data-target="#myModal"></span></td>
        <td><span class="glyphicon glyphicon-cloud"></span></td>
      </tr>
      <!-- <tr>
        <td>DYR</td>
        <td>145</td>
        <td>Some contact</td>
        <td>DYR Quote ID 145, Due Date Dec 23 2015 10:28 AM, 
          Customer - Semmitworks Technologies Inc, Contact - Anand D</td>
        <td>12/23/2015 10:28</td>
        <td>Follow-up</td>
        <td><span class="glyphicon glyphicon-eye-open"></span></td>
        <td><span class="glyphicon glyphicon-edit"></span></td>
        <td><span class="glyphicon glyphicon-cloud"></span></td>
      </tr> -->
    </tbody>
  </table>

    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <!-- <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div> -->

          <div class="modal-body">
            <!-- <p>This is a large modal.</p> -->
            <div class="container-fluid">
              <ol class="breadcrumb">
                <li style="color: white; font-weight: bold">Task Details</li>
              </ol>

              <div>
                <form class="form-horizontal">
                    <div class="form-group">
                      <label for="status" class="col-sm-2 control-label">Status</label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="status" placeholder="Status">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="quotetype" class="col-sm-2 control-label">Quote Type</label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="quotetype" placeholder="Quote Type">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="tasktype" class="col-sm-2 control-label">Task Type</label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="tasktype" placeholder="Task Type">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="contactname" class="col-sm-2 control-label">Contact Name</label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="contactname" placeholder="Contact Name">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="quote" class="col-sm-2 control-label">Quote</label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="quote" placeholder="Quote">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="duedate" class="col-sm-2 control-label">Due Date</label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="duedate" placeholder="">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="taskdescription" class="col-sm-2 control-label">Task Description</label>
                      <div class="col-sm-9">
                        <textarea rows="5" type="text" class="form-control" id="taskdescription" placeholder="Task Description"></textarea>
                      </div>
                    </div>

                    <!-- <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Sign in</button>
                      </div>
                    </div> -->

                    <!-- <div class="row"> -->
                      <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-list"></span> Cancel</a>
                      <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-list"></span> Update</a>
                    <!-- </div> -->
                  </form> 
                </div>
              </div>

              
            </div>

            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div> -->

          </div>
        </div>
      </div>

</div>

